<footer style = "background-color:gold; height:80px">
  <h2>Автор проекта: Artemiy Mutovin</h2>
  <h2>Название проекта:<a href="https://github.com/ArtemiyMutovin/testguru" target="_blank">TestGuru</a>
    "Проект разрабатывается на языке Ruby on Rails.
    Учебный проект в онлайн-школе<a href="https://thinknetica.com" target="_blank"> Thinknetica"</a></h2>
  <h2><div style="text-align: center;">2022 год</div></h2>
</footer>
