<footer style = "background-color:gold; height:80px">
  <h2>Автор проекта: Artemiy Mutovin</h2>
  <h2>Проект: <%= link_to 'TestGuru', link('ArtemiyMutovin', 'testguru')%>
    "Разработка ведется на языке Ruby on Rails.
    Учебный проект в онлайн-школе<a href="https://thinknetica.com" target="_blank"> Thinknetica"</a></h2>
  <h2><div style="text-align: center;"><%= date %></div></h2>
</footer>
