<li><h2>
  <%= answer.title %><br>
  <%= link_to 'Show', admin_answer_path(answer) %>
  <%= link_to 'Edit', edit_admin_answer_path(answer) %>
  <%= link_to 'Delete', admin_answer_path(answer),
                  data: {"turbo-method": :delete},
                  class: "btn btn-danger ml-3" %>
</h2></li>
