<li><h2>
  <%= answer.title %><br>
  <%= link_to t('admin.answers.answer.show'), admin_answer_path(answer) %>
  <%= link_to t('admin.answers.answer.edit'), edit_admin_answer_path(answer) %>
  <%= link_to t('admin.answers.answer.delete'), admin_answer_path(answer),
                  data: {"turbo-method": :delete},
                  class: "btn btn-danger ml-3" %>
</h2></li>
