<h1><%= t('admin.answers.edit.header') %></h1>

<h2>
  <%= @answer.question.title %>
</h2>

<%= render 'form' %>
<h2><%= link_to t('admin.answers.edit.footer'), admin_question_path(@answer.question)%></h2>
